body{
	text-align: center;
	background-image: url('back.png');
}
#menu
{
	width: 33%;
	height: 35px;
	margin: 0 auto;
	background: rgb(75, 71, 71);
}

  li {
	display: inline;
	float: left;
  }
  
  ul.answers{
	list-style-type: circle;

  }

  li a {
	display: block;
	padding: 12%;
	margin:0;
	color: aliceblue;
	text-align: center;
	width: 85px;
	text-decoration: none;
  }

  h1{
	color: aliceblue;
  }

  #myname{
	  color: aliceblue;
	  font-family: "Courier New", Times, serif;
	  font-size:25px;
	  text-align: center;


  }
  h1::before,
  h1::after {
	  display: inline-block;
	  content: "";
	  border-top: .3rem solid aliceblue;
	  width: 100%;
	  transform: translateY(-.1rem);
  }

  p{
	  color: aliceblue;
	  text-align: left;
	  margin-left: 30%;
	  margin-right: 30%;
	  font-family: "Impact", Times, serif;
	  font-size:20px;
  }

  img{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 300px;
	height:300px;
  }


  .pImage{
	  text-align: center;
  }

  .img-with-text{
	  width: 23%;
	  float: left;
	  padding: 10px;
  }

  /* 
 form css 
  */

  
  input[type=submit],[type=reset]{
	background-color: rgb(107, 107, 107);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
  }

  input[type=text], select, textarea {
	background-color: aliceblue(107, 107, 107);

	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  
  
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-left: 35%;
	margin-right: 35%;
	height: 280px;
  }