
@font-face {
	font-family: titlesFont;
	src: url(Space\ Mavericks.otf);
 }

 @font-face {
	font-family: pFont;
	src: url(PlayfairDisplay-Black.ttf);
 }

 @font-face {
	font-family: myThirdFont;
	src: url(ToetheLineless.ttf);
 }
 

body{
	text-align: center;
	background-image: url('back.png');
	font-family: pFont;
}
#menu
{
	/* line-height: inherit; */
	font-family: myThirdFont;

}

  .bar{
	display: inline;
	float: left;
  }

  .answer{
	color: aliceblue;
	display: inline-block;
	font-family: pFont;

}
.answers{
	color: aliceblue;
	font-family: pFont;

}

li a {
	display:  inherit;
	padding: 12%;
	margin:0;
	color: aliceblue;
	text-align: center;
	width: 100px;
	text-decoration: none;
  }

  h1, h2{
	color: aliceblue;
	font-family: titlesFont;
  }

  #myname{
	  color: aliceblue;
	  /* font-family: "Courier New", Times, serif; */
	  font-size:25px;
	  text-align: center;


  }
  h1::before,
  h1::after {
	  display: inline-block;
	  content: "";
	  border-top: .3rem solid aliceblue;
	  width: 100%;
	  transform: translateY(-.1rem);
  }

  p{
	  color: aliceblue;
	  text-align: left;
	  margin-left: 30%;
	  margin-right: 30%;
	  font-family: pFont;
	  font-size:20px;
  }

  img{
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
	width: 300px;
	height:300px;
  }


  .pImage{
	  text-align: center;
  }

  .img-with-text{
	  width: 23%;
	  float: left;
	  padding: 10px;
  }

  /* 
 form css taken from w3Schools
  */

  
  input[type=submit],[type=reset]{
	background-color: rgb(107, 107, 107);
	color: white;
	padding: 12px 20px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 10px;
  }

  input[type=text], select, textarea {
	background-color: aliceblue(107, 107, 107);

	width: 100%;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	margin-top: 6px;
	margin-bottom: 16px;
	resize: vertical;
  }
  /* end of form css*/
  
  .container {
	border-radius: 5px;
	background-color: #f2f2f2;
	padding: 20px;
	margin-left: 35%;
	margin-right: 35%;
	height: 280px;
	font-family: myThirdFont;

  }

  .answerDiv{
	  text-align: left;
	  color: aliceblue;
  }
  
  label{
	  margin-top: 10px;
  }
